
@use "../Helpers/variables" as *;
@use "../Helpers/mixins" as *;

/*------ Main Heading style ------*/ 

.main-heading{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 650px;
    text-align: center;
    h2{
        &::before{
            content: "";
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 2px;
            background-color: $black-color;
        }&::after{
            content: "";
            position: absolute;
            bottom: 17.5px;
            left: 50%;
            transform: translateX(-50%);
            @include circle(15px);
            border : 1px solid $black-color;
            background-color: $white-color;
        }
    }
}