
//------ All Vraiables i will need ------// 

// colors variables 

$darkblue-color : #0f748f;
$lightblue-color : #19c8fa;
$white-color : #ffff;
$black-color : #000;
$lightwhite-color : rgba(255,255,255,70%);

// space variable

$section-gap : 60px;
$elements-gap : 100px;

// transition variable

$transition : 0.3s;



